* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16ox;
  line-height: 1.6em;
}
.container {
  width: 80%;
  margin: 20px;
  overflow: hidden;
}
#main-header {
  background-color: coral;
  color: #fff;
  height: 8vh;
}
.navbar {
  background-color: steelblue;
  color: #fff;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: bold;
}
.showcase {
  background-image: url("./images/Disney_banner.PNG");
  color: #f4f4f4;
  margin: 20px;
  background-size: cover;
  min-height: 400px;
}
.container-grid {
  display: grid;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.box {
  background-color: steelblue;
  color: white;
  font-size: 16px;
  padding: 12px;
  border: skyblue 1px solid;
}
.box > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.box:nth-child(2) {
  grid-column: 2 / 4;
}
.box:nth-child(4) {
  grid-column: 2 / 4;
}
.box:nth-child(6) {
  grid-column: 2 / 4;
}
